.table_btn {
  padding: 4px 12px;
  width: 80px;
  height: 29px;
  background: rgba(22, 192, 152, 0.38);
  border: 1px solid #00B087;
  border-radius: 4px;
  font-size: 14px;
  line-height: 21px;
  color: #008767;
  cursor: pointer;

  &:disabled {
    background: #FFC5C5;
    border: 1px solid #DF0404;
    color: #DF0404;
  }
}
