.wrapper {
  position: relative;

  &:before {
    content: url("../../assept/images/search.svg");
    position: absolute;
    top: 7px;
    left: 6px;
    transition: all .3s ease-in-out;
  }

  &:hover {
    &:before {
      transform: rotate(45deg);
    }
  }

  .input {
    width: 216px;
    height: 38px;
    background: #F9FBFF;
    border-radius: 10px;
    border: none;
    padding: 10px 0 10px 40px;
    font-size: 12px;
    line-height: 18px;


    &::placeholder {
      color: #B5B7C0;
      font-size: 12px;
      line-height: 18px;
    }

    &:focus-visible {
      outline: 1px solid rgb(117 117 117 / 23%);
    }
  }

}

@media screen and (max-width: 900px) {
  .wrapper {
    width: 100%;

    .input {
      width: 100%;
    }
  }

}